@font-face {
    font-family: 'font_awesome_5_brandsregular';
    src: url('font_awesome_5_brands-regular-400-webfont.woff2') format('woff2'),
    url('font_awesome_5_brands-regular-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_awesome_5_freeregular';
    src: url('font_awesome_5_free-regular-400-webfont.woff2') format('woff2'),
    url('font_awesome_5_free-regular-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_awesome_5_freesolid';
    src: url('font_awesome_5_free-solid-900-webfont.woff2') format('woff2'),
    url('font_awesome_5_free-solid-900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "font_awesome_5_freeregular", Arial, sans-serif;
}

.truncate {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*force mdl icons color*/
.light-blue{
    color: #7FCCEA;!important;
    background-color: transparent;!important;
}

.light-blue span{
    padding-left: 10px;
}

div:last-child {
}

.mdl-grid {
    padding: 0 !important;
}

.mdl-cell {
    padding-left: 8px;
    padding-top: 4px;
    vertical-align: top;
}

.app-name {
    font-size: 25px;
    font-family: "font_awesome_5_brandsregular";
    line-height: 60px;
    text-align: left;
    font-weight: 900;!important;
}

.top > * {
    display: inline-flex;
    vertical-align: top;
}

.logo {
    margin-left: 15%;
    /*margin-left: 47px;*/
    max-height: 100%;
    max-width: 25%;
}

.type {
    margin-left: 4%;
    max-width: 45%;
    width: 100%;

}

/*.searchFieldIcon{*/
/*margin-left: 3%;*/
/*float:left;*/
/*}*/

.searchField {
    /*!*     vertical-align: top; *!*/
    /*!*     display: inline-block; *!*/
    border-radius: 75px;
    border: 3px solid #6EC1E4;
    /*position: relative;*/
    /*top: 23%;*/
    /*left: 7%;*/
    /*width: 360px;*/
    /*!*     padding: px;  *!*/
    /*height: 100%;*/
    /*font-size: 20px;*/
}

/*.searchFieldText{*/
/*width: 300px;*/
/*font-size:medium;*/
/*}*/

/*@media only screen and (max-width: 480px) {*/
/*.searchFieldText{*/
/*position: relative;*/
/*left: 9%;*/
/*font-size: 80%;*/
/*line-height: 120%;*/
/*width:80%;*/
/*}*/
/*}*/
.bookshelf {
    /*height: 678px;*/
}

/*hide menu when not in mobile*/
.menu-places-responsive {
    visibility: hidden;
}
.responsive-menu{
    width: 25%;
}


.ol-list{
    padding: 20px;
}

.ol-list-title{
    color: #ffffff;
}
.ol-numbering{
    padding: 1px;
}


/*show menu when on mobile*/
@media only screen and (max-width: 480px) {
    .menu-places-responsive {
        visibility: visible;
    }
}


.menu-places-full {

}

.profile {
    line-height: 60px;
    text-align: right;
}

.book-card{
    width: 99%;
}
.icons-star{
    word-spacing: -6px;
    font-size: 15px;!important;
}

.img {
    position: relative;
    float: left;
    width:  100%;
    height: 240px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.img-big {
    position: relative;
    alignment: center;
    height: 300px;
    display:block;
    margin:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.mdl-card__title{
    padding: 8px;
}
.mdl-card__supporting-text{
    line-height: 0px;
    padding: 8px;
    width: 80%;
    white-space: nowrap;!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdl-button__ripple-container{
    line-height: 0px;
}

.mdl-card__media{
    background-color: transparent;
}

.laterals{
    background-color: #2F292B;
}



.book-tittle{
    font-size: 12px;
    width: inherit;
    white-space: nowrap;!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* The Modal (background) */
.modal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgba(33,33,33,0.95);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #1976D2;
}

/* The Close Button */
.close0,.close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10.close11,.close12,.close13,.close14,.close15 {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;

}

.list-modal-content{
    list-style-type: none;
}
.wrap-text-modal{
    word-wrap: break-word;
    white-space: normal;
}

.tags {
    position:relative;
    width:100%;
    left:0;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}